.refresh-button {
    background-color: var(--primary);
    color: var(--highlight);
    border: none;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.2s;
    height: 30px;
    width: 30px;
}
