/* .materials-container {
    box-shadow: var(--shadow-light);
}

.materials-header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.refresh-button {
    background-color: var(--primary);
    color: var(--highlight);
    border: none;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.2s;
    height: 30px;
    width: 30px;
}

.refresh-button:hover {
    background-color: var(--secondary);
}

.materials-container {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--bg);
}

.materials-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: var(--text);
}

.materials-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 16px;
}


.loading,
.error {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    color: var(--text-muted);
}

.error {
    color: var(--danger);
} */
